/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/databases/*
!app/databases/.gitkeep
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/bower_components/*
/build/
/composer.phar
.DS_Store

/components/*
#/gulp-config.json
/node_modules/*
/vendor/
/web/bundles/
/web/media/cache/
!web/media/.gitkeep


/.idea/
/nbproject